* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: black;
    /* font-family: 'Satisfy', cursive; */
}

.navbar {
    background-color: #fea82f;
}

.navbar .nav-link {
    color: black;
}

#logo {
    color: black;
    font-weight: 600;
}

#btn-cart {
    background-color: transparent;
    border: none;
    font-size: 1.4em;
}

#user-login {
    color: black;
    font-weight: 600;
}

.card {
    margin-right: 30px;
    margin-bottom: 20px;
}
